body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: #3d3d3d;
}

h1 {
    font-style: italic;
    color: #ff6f00;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.invisible {
    opacity: 0.2;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1140px) {
    .wrapper {
        flex-direction: row;
    }
}

.camView {
    position: relative;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.nodisplay {
    display: none;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff6f00;
    z-index: 2;
}

.canvasWrapper {
    position: relative;
}

.info {
    margin-left: 20px;
    margin-top: 10px;
}
